@page
@model IndexModel


    @if(User.Identity.IsAuthenticated)
    {
    
      <div>
        @{Model.GenerateCreatedRides();}
        <p>Hello, @User.Identity.Name!</p>
        <table class="table">
            <thead>
                <th>@Html.DisplayNameFor(m => m.rides.Rides[0].Driver)</th>
                <th>@Html.DisplayNameFor(m => m.rides.Rides[0].Seats)</th>
                <th>@Html.DisplayNameFor(m => m.rides.Rides[0].Date)</th>
                <th>@Html.DisplayNameFor(m => m.rides.Rides[0].Time)</th>
                <th>@Html.DisplayNameFor(m => m.rides.Rides[0].DeparturePoint)</th>
                <th>@Html.DisplayNameFor(m => m.rides.Rides[0].DestinationCity)</th>
                <th>@Html.DisplayNameFor(m => m.rides.Rides[0].DestinationAddr)</th>
            </thead>
            <tbody>
                @foreach(var ride in Model.rides.Rides){
                    <tr>
                        <td>@Html.DisplayFor(m => ride.Driver)</td>
                        <td>@Html.DisplayFor(m => ride.Seats)</td>
                        <td>@Html.DisplayFor(m => ride.Date)</td>
                        <td>@Html.DisplayFor(m => ride.Time)</td>
                        <td>@Html.DisplayFor(m => ride.DeparturePoint)</td>
                        <td>@Html.DisplayFor(m => ride.DestinationCity)</td>
                        <td>@Html.DisplayFor(m => ride.DestinationAddr)</td>
                    </tr>
                }
            </tbody>
        </table>
        <form method="post" asp-page-handler="Logout">
            <button type="submit">Log out</button>
        </form>
        <a href="CreateRide"> Create a ride</a>
      </div>
    }
    else
    {
        <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>

        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	    <div class="modal-dialog">
				<div class="loginmodal-container">
				    <h1>Login to Your Account</h1><br>
				    <form method="post" asp-page-handler="Login">
					    <input type="text" name="email" placeholder="Email">
					    <input type="password" name="password" placeholder="Password">
					    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
				    </form>
					
				    <div class="login-help">
					    <a href="Register">Register</a>
				    </div>
				</div>
			</div>
		</div>
        
        
    }


    