@page
@model IndexModel


<h1> People </h1>

@if(Model.HasPeople){


<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.People[0].Name)</th>
            <th>@Html.DisplayNameFor(m => m.People[0].CPR)</th>
            <th>@Html.DisplayNameFor(m => m.People[0].MobileNumber)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var person in Model.People){
            <tr>
                <td>@Html.DisplayFor(m => person.Name)</td>
                <td>@Html.DisplayFor(m => person.CPR)</td>
                <td>@Html.DisplayFor(m => person.MobileNumber)</td>
            </tr>
        }
    </tbody>
</table>
}
else{
    <p>No people found.</p>
}